body {
  margin: 0px;
}

nav {

}

.menu {
  position: absolute;
  right: 0;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide-mobile {
  display: none;
}

nav ul {
  position: fixed;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  text-align: left;
  background-color: rgb(36,41,44);
  height: 100%;
  z-index: 10;
  padding-top: 3em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 3em;
}

nav ul li a:hover {
  background-color: rgb(65, 73, 78);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1em;
}

.exit-btn img {
  width: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: white;
    height: auto;
    position: absolute;
    right: 0;
    padding-top: 10px;
    z-index: 20;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: left;
    padding: 1em 1em;
  }

  nav ul li a:hover{
    background-color: inherit;
  }

}
